.homeContainer{
    background:rgba(79, 164, 209, 0.4);
    height:100%;

    h1, p, h3,footer {
        color: rgb(61, 180, 45);
    }

    header{
        padding:0.8rem;
        border-bottom:0.1px dashed rgba(107, 208, 94,0.4);

        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    footer{
        color:rgb(0, 153, 255);
        background: #e5e6e6;
        padding:0.2rem;

        margin-top:1rem;
        font-size:1.2rem;
    }
}
