.homeContainer{
    background:rgba(79, 164, 209, 0.4);
    height:100vh;

    h1, p, h3,footer {
        color: rgb(61, 180, 45);
    }

    header{
        padding:0.8rem;
        border-bottom:0.1px dashed rgba(107, 208, 94,0.4);

        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    footer{
        color:rgb(0, 153, 255);

        position: absolute;
        bottom:0.5rem;
        left:0.5rem;

        font-size:1.2rem;
    }
}
