* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=101776),auto;
}

img:hover,a:hover,iframe:hover {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=101777),pointer;
}

a {
  color: inherit;
  text-decoration: none;
}